@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(Montserrat_400_normal.eot); /* http://fonts.gstatic.com/l/font?kit=JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aX4&skey=7bc19f711c0de8f&v=v26 */
    src: local('☺'),
        url(Montserrat_400_normal.eot?#iefix) format('embedded-opentype'), /* http://fonts.gstatic.com/l/font?kit=JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aX4&skey=7bc19f711c0de8f&v=v26 */
        url(Montserrat_400_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXo.woff2 */
        url(Montserrat_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXw.woff */
        url(Montserrat_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aX9-p7K4GLs.ttf */
        url(Montserrat_400_normal.svg#Montserrat_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aX0&skey=7bc19f711c0de8f&v=v26#Montserrat */
}
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 400;
    src: url(Muli_400_normal.eot); /* http://fonts.gstatic.com/l/font?kit=7Aulp_0qiz-aVz7u3PJLcUMYOFnOkEk30ew&skey=2b55aa3f2f059b75&v=v29 */
    src: local('☺'),
        url(Muli_400_normal.eot?#iefix) format('embedded-opentype'), /* http://fonts.gstatic.com/l/font?kit=7Aulp_0qiz-aVz7u3PJLcUMYOFnOkEk30ew&skey=2b55aa3f2f059b75&v=v29 */
        url(Muli_400_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/muli/v29/7Aulp_0qiz-aVz7u3PJLcUMYOFnOkEk30eg.woff2 */
        url(Muli_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/muli/v29/7Aulp_0qiz-aVz7u3PJLcUMYOFnOkEk30e4.woff */
        url(Muli_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/muli/v29/7Aulp_0qiz-aVz7u3PJLcUMYOFnOkEk30e2fwniDhzA.ttf */
        url(Muli_400_normal.svg#Muli_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=7Aulp_0qiz-aVz7u3PJLcUMYOFnOkEk30e8&skey=2b55aa3f2f059b75&v=v29#Muli */
}
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: url(Playfair+Display_400_normal.eot); /* http://fonts.gstatic.com/l/font?kit=nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDXbtc&skey=f3b68f0152604ed9&v=v37 */
    src: local('☺'),
        url(Playfair+Display_400_normal.eot?#iefix) format('embedded-opentype'), /* http://fonts.gstatic.com/l/font?kit=nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDXbtc&skey=f3b68f0152604ed9&v=v37 */
        url(Playfair+Display_400_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/playfairdisplay/v37/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDXbtM.woff2 */
        url(Playfair+Display_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/playfairdisplay/v37/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDXbtU.woff */
        url(Playfair+Display_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/playfairdisplay/v37/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDXbtbK-F2qO0g.ttf */
        url(Playfair+Display_400_normal.svg#Playfair+Display_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDXbtQ&skey=f3b68f0152604ed9&v=v37#PlayfairDisplay */
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url(Montserrat_500_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Montserrat_500_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Montserrat_500_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Hw5aXo.woff2 */
        url(Montserrat_500_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Hw5aXw.woff */
        url(Montserrat_500_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Hw5aX9-p7K4GLs.ttf */
        url(Montserrat_500_normal.svg#Montserrat_500_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url(Montserrat_700_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Montserrat_700_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Montserrat_700_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM73w5aXo.woff2 */
        url(Montserrat_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM73w5aXw.woff */
        url(Montserrat_700_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM73w5aX9-p7K4GLs.ttf */
        url(Montserrat_700_normal.svg#Montserrat_700_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: 300;
    src: url(Muli_300_italic.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Muli_300_italic.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Muli_300_italic.woff2) format('woff2'), /* http://fonts.gstatic.com/s/muli/v29/7Aujp_0qiz-afTfcIyoiGtm2P0wG089z4eqVww.woff2 */
        url(Muli_300_italic.woff) format('woff'), /* http://fonts.gstatic.com/s/muli/v29/7Aujp_0qiz-afTfcIyoiGtm2P0wG089z4eqVxQ.woff */
        url(Muli_300_italic.ttf) format('truetype'), /* http://fonts.gstatic.com/s/muli/v29/7Aujp_0qiz-afTfcIyoiGtm2P0wG089z4eqVxlqHrzJYAA.ttf */
        url(Muli_300_italic.svg#Muli_300_italic) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: 400;
    src: url(Muli_400_italic.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Muli_400_italic.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Muli_400_italic.woff2) format('woff2'), /* http://fonts.gstatic.com/s/muli/v29/7Aujp_0qiz-afTfcIyoiGtm2P0wG05Fz4eqVww.woff2 */
        url(Muli_400_italic.woff) format('woff'), /* http://fonts.gstatic.com/s/muli/v29/7Aujp_0qiz-afTfcIyoiGtm2P0wG05Fz4eqVxQ.woff */
        url(Muli_400_italic.ttf) format('truetype'), /* http://fonts.gstatic.com/s/muli/v29/7Aujp_0qiz-afTfcIyoiGtm2P0wG05Fz4eqVxlqHrzJYAA.ttf */
        url(Muli_400_italic.svg#Muli_400_italic) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: 600;
    src: url(Muli_600_italic.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Muli_600_italic.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Muli_600_italic.woff2) format('woff2'), /* http://fonts.gstatic.com/s/muli/v29/7Aujp_0qiz-afTfcIyoiGtm2P0wG00904eqVww.woff2 */
        url(Muli_600_italic.woff) format('woff'), /* http://fonts.gstatic.com/s/muli/v29/7Aujp_0qiz-afTfcIyoiGtm2P0wG00904eqVxQ.woff */
        url(Muli_600_italic.ttf) format('truetype'), /* http://fonts.gstatic.com/s/muli/v29/7Aujp_0qiz-afTfcIyoiGtm2P0wG00904eqVxlqHrzJYAA.ttf */
        url(Muli_600_italic.svg#Muli_600_italic) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Muli';
    font-style: italic;
    font-weight: 700;
    src: url(Muli_700_italic.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Muli_700_italic.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Muli_700_italic.woff2) format('woff2'), /* http://fonts.gstatic.com/s/muli/v29/7Aujp_0qiz-afTfcIyoiGtm2P0wG03Z04eqVww.woff2 */
        url(Muli_700_italic.woff) format('woff'), /* http://fonts.gstatic.com/s/muli/v29/7Aujp_0qiz-afTfcIyoiGtm2P0wG03Z04eqVxQ.woff */
        url(Muli_700_italic.ttf) format('truetype'), /* http://fonts.gstatic.com/s/muli/v29/7Aujp_0qiz-afTfcIyoiGtm2P0wG03Z04eqVxlqHrzJYAA.ttf */
        url(Muli_700_italic.svg#Muli_700_italic) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 300;
    src: url(Muli_300_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Muli_300_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Muli_300_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/muli/v29/7Aulp_0qiz-aVz7u3PJLcUMYOFmQkEk30eg.woff2 */
        url(Muli_300_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/muli/v29/7Aulp_0qiz-aVz7u3PJLcUMYOFmQkEk30e4.woff */
        url(Muli_300_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/muli/v29/7Aulp_0qiz-aVz7u3PJLcUMYOFmQkEk30e2fwniDhzA.ttf */
        url(Muli_300_normal.svg#Muli_300_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 600;
    src: url(Muli_600_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Muli_600_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Muli_600_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/muli/v29/7Aulp_0qiz-aVz7u3PJLcUMYOFkQl0k30eg.woff2 */
        url(Muli_600_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/muli/v29/7Aulp_0qiz-aVz7u3PJLcUMYOFkQl0k30e4.woff */
        url(Muli_600_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/muli/v29/7Aulp_0qiz-aVz7u3PJLcUMYOFkQl0k30e2fwniDhzA.ttf */
        url(Muli_600_normal.svg#Muli_600_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 700;
    src: url(Muli_700_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Muli_700_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Muli_700_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/muli/v29/7Aulp_0qiz-aVz7u3PJLcUMYOFkpl0k30eg.woff2 */
        url(Muli_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/muli/v29/7Aulp_0qiz-aVz7u3PJLcUMYOFkpl0k30e4.woff */
        url(Muli_700_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/muli/v29/7Aulp_0qiz-aVz7u3PJLcUMYOFkpl0k30e2fwniDhzA.ttf */
        url(Muli_700_normal.svg#Muli_700_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
    src: url(Playfair+Display_400_italic.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Playfair+Display_400_italic.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Playfair+Display_400_italic.woff2) format('woff2'), /* http://fonts.gstatic.com/s/playfairdisplay/v37/nuFRD-vYSZviVYUb_rj3ij__anPXDTnCjmHKM4nYO7KN_qiTXtHA-Q.woff2 */
        url(Playfair+Display_400_italic.woff) format('woff'), /* http://fonts.gstatic.com/s/playfairdisplay/v37/nuFRD-vYSZviVYUb_rj3ij__anPXDTnCjmHKM4nYO7KN_qiTXtHA_w.woff */
        url(Playfair+Display_400_italic.ttf) format('truetype'), /* http://fonts.gstatic.com/s/playfairdisplay/v37/nuFRD-vYSZviVYUb_rj3ij__anPXDTnCjmHKM4nYO7KN_qiTXtHA_H-uE0q0EA.ttf */
        url(Playfair+Display_400_italic.svg#Playfair+Display_400_italic) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 700;
    src: url(Playfair+Display_700_italic.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Playfair+Display_700_italic.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Playfair+Display_700_italic.woff2) format('woff2'), /* http://fonts.gstatic.com/s/playfairdisplay/v37/nuFRD-vYSZviVYUb_rj3ij__anPXDTnCjmHKM4nYO7KN_k-UXtHA-Q.woff2 */
        url(Playfair+Display_700_italic.woff) format('woff'), /* http://fonts.gstatic.com/s/playfairdisplay/v37/nuFRD-vYSZviVYUb_rj3ij__anPXDTnCjmHKM4nYO7KN_k-UXtHA_w.woff */
        url(Playfair+Display_700_italic.ttf) format('truetype'), /* http://fonts.gstatic.com/s/playfairdisplay/v37/nuFRD-vYSZviVYUb_rj3ij__anPXDTnCjmHKM4nYO7KN_k-UXtHA_H-uE0q0EA.ttf */
        url(Playfair+Display_700_italic.svg#Playfair+Display_700_italic) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 900;
    src: url(Playfair+Display_900_italic.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Playfair+Display_900_italic.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Playfair+Display_900_italic.woff2) format('woff2'), /* http://fonts.gstatic.com/s/playfairdisplay/v37/nuFRD-vYSZviVYUb_rj3ij__anPXDTnCjmHKM4nYO7KN_gGUXtHA-Q.woff2 */
        url(Playfair+Display_900_italic.woff) format('woff'), /* http://fonts.gstatic.com/s/playfairdisplay/v37/nuFRD-vYSZviVYUb_rj3ij__anPXDTnCjmHKM4nYO7KN_gGUXtHA_w.woff */
        url(Playfair+Display_900_italic.ttf) format('truetype'), /* http://fonts.gstatic.com/s/playfairdisplay/v37/nuFRD-vYSZviVYUb_rj3ij__anPXDTnCjmHKM4nYO7KN_gGUXtHA_H-uE0q0EA.ttf */
        url(Playfair+Display_900_italic.svg#Playfair+Display_900_italic) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    src: url(Playfair+Display_700_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Playfair+Display_700_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Playfair+Display_700_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/playfairdisplay/v37/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKeiunDXbtM.woff2 */
        url(Playfair+Display_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/playfairdisplay/v37/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKeiunDXbtU.woff */
        url(Playfair+Display_700_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/playfairdisplay/v37/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKeiunDXbtbK-F2qO0g.ttf */
        url(Playfair+Display_700_normal.svg#Playfair+Display_700_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    src: url(Playfair+Display_900_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Playfair+Display_900_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Playfair+Display_900_normal.woff2) format('woff2'), /* http://fonts.gstatic.com/s/playfairdisplay/v37/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKfsunDXbtM.woff2 */
        url(Playfair+Display_900_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/playfairdisplay/v37/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKfsunDXbtU.woff */
        url(Playfair+Display_900_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/playfairdisplay/v37/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKfsunDXbtbK-F2qO0g.ttf */
        url(Playfair+Display_900_normal.svg#Playfair+Display_900_normal) format('svg'); /* {{svg-gf-url}} */
}
